extends layout

block content
	.CTA-page.content
		.CTA-box
			.logo-name
				.logo-name__logo
				.logo-name__name Encryptor
			a.CTA-box__button.btn(href="#shifr-page") Начать шифровать

	.shifr-page.content#shifr-page
		form.shifr-box(method="post", action="/", enctype="multipart/form-data")
			select(name="enc_type" id="enc_type").shifr-box__select.select.btn
				option(value="-1") Выберите метод шифрования
				for t in types
					option(value=t.key)=t.text
			label.btn.file-btn Выберите файл
				input(type="file" accept=".png, .txt, .wav" name="asset" id="asset" )
			textarea.shifr-box__text.textarea(name="msg" id="msg" placeholder="Ваше сообщение")
			.form-row 
				.shifr-box__key.input
					label(for="key") Ключ
					input(type="text" name="key" id="key")
				button.shifr-box__start-button.btn(type="submit") Зашифровать


